* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 375px;
  padding-inline: 16px;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b63d9;
  height: 64px;
  border-bottom: 2px solid #648ef7;
}

.header-left-list {
  display: none;
}

.header-right {
  display: none;
}

/* Header End */



/* Hero */
.hero {
  background-color: #2b63d9;
  width: 375px;
}

.mobile-hero-img {
  margin-left: 15px;
  margin-bottom: 32px;
}

.hero-left {
  margin-bottom: 35px;
}

.hero-content h1 {
  color: white;
  font-weight: 600;
  font-style: semi bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  margin-bottom: 16px;
}

.hero-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #b1ccfb;
  margin-bottom: 32px;
}

.hero-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  width: 343px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  background-color: #437ef7;
  margin-bottom: 32px;
}

.hero-content h5 {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}

.hero-support-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

/* Hero End */

/* Message Section */
.message-section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.message-section p {
  color: #5f6d7e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  margin-bottom: 32px;
}

/* Message section end */

/* Cards */
.card {
  margin-bottom: 40px;
}

.card-img-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #437EF7;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 8px;
}

.card p {
  color: #5f6d7e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}

.card a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0px;
  color: #437EF7;
}

.card a img {
  display: block;
}

/* Cards End */


/* Redefining Section */
.redefining h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 12px;
}

.redefining p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5F6D7E;
  margin-bottom: 32px;
}

/* Redefining end */


/* Chair Section */
.chair-img {
  margin-bottom: 32px;
}

.chair-card {
  display: flex;
  gap: 16px;
}

.chair-icon-bg {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #437EF7;
  border-radius: 30px;
  width: 48px;
  height: 48px;
}

.chair-card-content {
  margin-bottom: 32px;
}

.chair-card-content h3 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 8px;
  color: #272D37;
}

.chair-card-content p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5F6D7E;
  margin-bottom: 8px;
}

.chair-card-content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #437EF7;
  text-decoration: none;
  display: flex;
  gap: 6px;
}

/* Chair end */


/* Table Section */
.table-section {
  background-color: #151B28;
  margin-bottom: 32px;
}

.table-chair-img {
  margin-top: 32px;
  margin-bottom: 32px;
}

.table-card-content h3 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 8px;
  color: white;
}

.table-card-content p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #A5ACBA;
  margin-bottom: 8px;
}

.table-card-content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #437EF7;
  text-decoration: none;
  display: flex;
  gap: 6px;
  margin-bottom: 32px;
}

/* Table Section End */


/* Customer Section */

.customer h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  color: #272D37;
  margin-bottom: 12px;
}

.customer p {
  color: #5F6D7E;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  margin-bottom: 40px;
}