* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 375px;
  padding-inline: 16px;
  margin: 0 auto;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b63d9;
  height: 64px;
  border-bottom: 2px solid #648ef7;
}

.header-left-list {
  display: none;
}

.header-right {
  display: none;
}

/* Header End */



/* Hero */
.hero {
  background-color: #2b63d9;
  width: 100%
}

.mobile-hero-img {
  width: 100%;
  margin-left: 15px;
  margin-bottom: 32px;
}

.mobile-hero-img img {
  width: 100%;
  max-width: 359px;
  height: auto;
}


.hero-left {
  margin-bottom: 35px;
}

.hero-content h1 {
  color: white;
  font-weight: 600;
  font-style: semi bold;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  margin-bottom: 16px;
}

.hero-content p {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: -0.1px;
  color: #b1ccfb;
  margin-bottom: 32px;
}

.hero-content a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  max-width: 343px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  background-color: #437ef7;
  margin-bottom: 32px;
}

.hero-content h5 {
  color: white;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}

.hero-support-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 15px;
  margin-bottom: 30px;
}

/* Hero End */

/* Message Section */
.message-section h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.message-section p {
  color: #5f6d7e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  margin-bottom: 32px;
}

/* Message section end */

/* Cards */
.card {
  margin-bottom: 40px;
}

.card-img-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  background-color: #437EF7;
  width: 48px;
  height: 48px;
  margin-bottom: 16px;
}

.card h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 8px;
}

.card p {
  color: #5f6d7e;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;
}

.card a {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0px;
  color: #437EF7;
}

.card a img {
  display: block;
}

/* Cards End */


/* Redefining Section */
.redefining h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 12px;
}

.redefining p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5F6D7E;
  margin-bottom: 32px;
}

/* Redefining end */


/* Chair Section */
.chair-img {
  margin-bottom: 32px;
}

.chair-card {
  display: flex;
  gap: 16px;
}

.chair-icon-bg {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #437EF7;
  border-radius: 30px;
  width: 48px;
  height: 48px;
}

.chair-card-content {
  margin-bottom: 32px;
}

.chair-card-content h3 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 8px;
  color: #272D37;
}

.chair-card-content p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #5F6D7E;
  margin-bottom: 8px;
}

.chair-card-content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #437EF7;
  text-decoration: none;
  display: flex;
  gap: 6px;
}

/* Chair end */


/* Table Section */
.table-section {
  background-color: #151B28;
  margin-bottom: 32px;
}

.table-chair-img {
  margin-top: 32px;
  margin-bottom: 32px;
}

.table-card-content h3 {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  margin-bottom: 8px;
  color: white;
}

.table-card-content p {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0px;
  color: #A5ACBA;
  margin-bottom: 8px;
}

.table-card-content a {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #437EF7;
  text-decoration: none;
  display: flex;
  gap: 6px;
  margin-bottom: 32px;
}

/* Table Section End */


/* Customer Section */
.customer h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  color: #272D37;
  margin-bottom: 12px;
}

.customer p {
  color: #5F6D7E;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  margin-bottom: 40px;
}

/* Customer Section End */

/* Lookscout Section */
.lookscout-bg {
  border-radius: 5px;
  background-color: #F8F9FB;
}

.lookscout-content {
  padding-inline: 16px;
  margin-bottom: 64px;
}

.lookscout-content img {
  margin-top: 21px;
  margin-bottom: 16px;
}

.lookscout-content p {
  font-weight: 600;
  font-style: Semi Bold;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -2%;
  color: #272D37;
}

.lookscout-content h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
}

.user-info {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #5F6D7E;
}

.user-data {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-img {
  display: inline
}

.user-content {
  flex-direction: column;
}

/* Lookscout End */


/* Latest Blog */
.blog h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 12px;
}

.blog p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #5F6D7E;
  margin-bottom: 24px;
}

/* Latest Blog End */


/* Image card section */
.card-img {
  margin-bottom: 12px;
}

.image-card h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 16px;
}

.image-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #5F6D7E;
  margin-bottom: 24px;
}


.card-user-data {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 33px;
}

.card-user-img {
  display: inline
}

.card-user-content {
  flex-direction: column;
}

.user-date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 150px;
  color: #5F6D7E;
}

.card-user-content h4 {
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.1px;
}

.card-user-info {
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  color: #5F6D7E;
}

/* Image card section end */


/* Proud Section */
.proud h2 {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.proud p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #5F6D7E;
  margin-bottom: 32px;
}

/* Proud Section End */


/* Brand Logos Section */
.brand-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
  margin-bottom: 36px;
}

/* Brand Logos Section End */


/* Industry section */
.industry-bg {
  background-color: #FAFBFC;
}

.industry-text h3 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.1px;
  text-align: center;
  color: #437EF7;
  padding-top: 32px;
  margin-bottom: 8px;
}

.industry-text h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-align: center;
  color: #272D37;
  margin-bottom: 16px;
}

.industry-form {
  display: flex;
  flex-direction: column;
}

.industry-form input {
  border: 1px solid #dae0e6;
  max-width: 343px;
  height: 46px;
  border-radius: 6px;
  padding-left: 16px;
  margin-bottom: 16px;
}

.industry-btn {
  background-color: #437EF7;
  max-width: 343px;
  height: 48px;
  border-radius: 6px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.industry-checkbox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 32px;
}

.industry-checkbox a {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 12px;
  margin-bottom: 16px;
}

/* Industry section end */


/* Footer */
footer {
  background-color: #151B28;
  height: 638px;
}

.footer-logo {
  padding-top: 38px;
}

.footer-logo img {
  margin-bottom: 22px;
}

.footer-logo p {
  color: #A5ACBA;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-bottom: 24px;
}

.footer-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-columns ul {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
}

ul>li>a {
  color: #A5ACBA;
  font-weight: 300;
  font-style: Medium;
  font-size: 16px;
  line-height: 24px;
}

li {
  list-style-type: none;
}

li a {
  text-decoration: none;
}

.left-head {
  color: white;
}

.right-head {
  color: white;
}


.footer-content h3 {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: #F9F9F9;
  margin-bottom: 12px;
}

.footer-content p {
  color: #A5ACBA;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  margin-bottom: 16px;

}

.footer-btn {
  display: flex;
  margin-bottom: 20px;
}

.footer-input {
  border: 1px solid #dae0e6;
  width: 255px;
  height: 46px;
  border-radius: 6px 0px 0px 6px;
  background-color: #2c3444;
  border: none;
  padding-left: 16px;
}

.footer-button {
  width: 88px;
  border: none;
  border-radius: 0px 6px 6px 0px;
  background-color: #437ef7;
  color: white;
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0px;
}

.footer-bottom p {
  border-top: 2px solid #2d3545;
  padding-top: 16px;
  color: #A5ACBA;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  text-align: center;
  margin-bottom: 16px;
}

.footer-bottom-logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 32px;
}

/* Footer End */